<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.delivery">

    <application
        android:name="com.project.delivery.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.CustomNoActionBar">

        <activity
            android:name="com.project.delivery.deliverySplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.project.featuredelivery.Activity.deliveryMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity android:name="com.project.ui.NaverMapActivity"
        android:exported="true"
        android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8ei9mcejww" /> <!-- 네이버 지도 -->

    </application>
</manifest>